# One Way ANOVA Test

In [2]:
from scipy.stats import f_oneway

A pharmaceutical company conducts an experiment to test the effect of a new cholesterol medication. The company selects 15 subjects randomly from a larger population. 
Each subject is randomly assigned to one of three treatment groups. 
Within each treatment group, subjects receive a different dose of the new medication. 
•	In Group 1, subjects receive 0 mg/day; 
•	in Group 2, 50 mg/day; and 
•	in Group 3, 100 mg/day.
The treatment levels represent all the levels of interest to the experimenter, so this experiment used a fixed-effects model to select treatment levels for study.
After 30 days, doctors measure the cholesterol level of each subject. The results for all 15 subjects appear in the table below:

In [3]:
group1=[210,240,270,270,300] # 0 mg/day
group2=[210,240,240,270,270] # 50 mg/day
group3=[180,210,210,210,240] # 100 mg/day

# Calculating F and P values
f,p=f_oneway(group1,group2,group3)
print(f,p)

4.16 0.04241751817647503

In [4]:
if p<0.05:
    print('We reject the Null Hypothesis, and accepts the alternate hypothesis, which means cholesterol level is affected by dosage.')
else:
    print('Do not reject Null Hypothesis. There is no significant differences in the mean, which means cholestrol level is not affected by the dosage')

We reject the Null Hypothesis, and accepts the alternate hypothesis, which means cholesterol level is affected by dosage.

In [5]:
import pandas as pd
import numpy as np

# Two way ANOVA

In [26]:
'''
The following table gives monthly sale (in thousands) of a certain firm in three states by its 
4 salesmen.
	Salesmen
States	X1	X2	X3	X4
    Y1	6	5	3	8
    Y2	8	9	6	5
    Y3	10	7	8	7

Setup the ANOVA table and test whether there is any significant 
(i)	difference between sales by the salesmen.
(ii)	Difference between sales in the 3 states. 
'''

'\nThe following table gives monthly sale (in thousands) of a certain firm in three states by its \n4 salesmen.\n\tSalesmen\nStates\tX1\tX2\tX3\tX4\n    Y1\t6\t5\t3\t8\n    Y2\t8\t9\t6\t5\n    Y3\t10\t7\t8\t7\n\nSetup the ANOVA table and test whether there is any significant \n(i)\tdifference between sales by the salesmen.\n(ii)\tDifference between sales in the 3 states. \n'

In [17]:
df=pd.read_csv("C:\\Users\\Venkatesh\\ano2way.csv")

In [18]:
df

     ST   SM  VALUES
0   ST1  SM1       6
1   ST1  SM2       5
2   ST1  SM3       3
3   ST1  SM4       8
4   ST2  SM1       8
5   ST2  SM2       9
6   ST2  SM3       6
7   ST2  SM4       5
8   ST3  SM1      10
9   ST3  SM2       7
10  ST3  SM3       8
11  ST3  SM4       7

In [23]:
import statsmodels.api as sm
from statsmodels.formula.api import ols

In [27]:
model=ols('VALUES~SM+ST',data=df).fit()
anova=sm.stats.anova_lm(model,type=2)

In [28]:
anova

           df     sum_sq   mean_sq         F    PR(>F)
SM        3.0   8.333333  2.777778  0.806452  0.534616
ST        2.0  12.666667  6.333333  1.838710  0.238328
Residual  6.0  20.666667  3.444444       NaN       NaN